@model LastProject.Models.WeatherInfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WeatherInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Localtime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localtime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeelslikeC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeelslikeC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Humidity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Humidity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WindKph)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WindKph)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeatherConditionText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeatherConditionText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IconUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IconUrl)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a class="btn btn-primary" asp-action="Index">Back to List</a> |
    <a class="btn btn-info" asp-action="RefreshData" asp-route-id="@Model?.Id">Refresh Data</a>
</div>
